@charset "utf-8";
/* CSS Document */



#kento-splash-screen-black{
background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;
}
.kento-splash-screen{
background-color:#f00;
height:300px;
left:30%;
position:fixed;
top:20%;
width:500px;

z-index:9999999999;
}
#kento-splash-screen-bg-img-preview{
display:block;
height:auto;
overflow:hidden;
width:300px;
}
#kento-splash-screen-bg-img-preview img{
width:100%;
}
#kento-splash-screen-shortcode{
background-color:#9AC5FF;
}
